   body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    #sudoku-grid {
      display: inline-block;
      margin-top: 20px;
    }

    .sudoku-row {
      display: flex;
    }

    .sudoku-cell {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      border: 1px solid #000;
      box-sizing: border-box;
    }

    /* Thicker borders for 3x3 grid */
    .sudoku-cell:nth-child(3), .sudoku-cell:nth-child(6) {
      border-right: 2px solid #000;
    }

    .sudoku-row:nth-child(3) .sudoku-cell,
    .sudoku-row:nth-child(6) .sudoku-cell {
      border-bottom: 2px solid #000;
    }

    /* New styles for pre-filled cells */
    .prefilled-cell {
      background-color: #e0e0e0; /* Light grey background */
    }

    /* Style for user-entered numbers */
    .user-input {
      color: red; /* Red text for user input */
    }

    /* Remove red text from pre-filled cells */
    .prefilled-cell.user-input {
      color: black;
    }

/* Media Queries for Smaller Screens */
@media (max-width: 600px) {
    h1 {
        font-size: 1.0em;
        margin: 10px 0;
    }

    .instructions p, .user-info label, .difficulty-options label {
        font-size: 0.5em;
    }

    .difficulty-options label, .user-info label {
        display: inline-block;
        margin: 5px 0;
    }

    input[type="text"] {
        width: 9vw;
        height: 9vw;
        max-width: 40px;
        max-height: 40px;
        font-size: 1.0em;
    }

    .action-buttons input {
        margin: 1px auto;
        padding: 10px;
        font-size: 1em;
    }

    .action-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
